.RequestHeader 
[cols="2,8"]
|===
|Name|Description

{{#headers}}
|{{#tableCellContent}}`+{{name}}+`{{/tableCellContent}}
|{{#tableCellContent}}{{description}} {{etc}} {{/tableCellContent}}


{{/headers}}
|===