.ResponseBody
[cols="2,1,1,1,1,4"]
|===
|Path|Type|Length|Format|Optional|Description

{{#fields}}
|{{path}}
|{{type}}
|{{length}}
|{{#format}}{{.}}{{/format}}
|{{#optional}}true{{/optional}}
|{{description}} {{#etc}} {{.}} {{/etc}}

{{/fields}}
|===